body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

h1 {
  color: #333333;
}

img {
  border: 2px solid #000000;
  max-width: 100%;
}

p {
  color: #000000;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}